/* css/admin-stock-status.css */
@import "stock-status-colors.css";

table.wp-list-table mark.preorder,
table.wp-list-table mark.enquiries,
table.wp-list-table mark.discontinued
{
	font-weight: 700;
	background: transparent none;
	line-height: 1;
}

td.is_in_stock.column-is_in_stock .preorder {
    color: var(--wc-ssc-preorder);
}

td.is_in_stock.column-is_in_stock .enquiries {
    color: var(--wc-ssc-enquiries);
}

td.is_in_stock.column-is_in_stock .discontinued {
    color: var(--wc-ssc-discontinued);
}