/* css/stock-status.css */
.stock::before
{
	content: 'Availability: ';
	color:#000;
	font-weight: bold;
}

.cart_item dt.variation-Availability
{
    font-weight: bold;
}

.pre-order {
    color: #9f1510 !important;
}

.enquiries-only {
    color: #9e22e6 !important;
}

.discontinued {
    color: #888888 !important;
}