/* css/stock-status.css */
.stock::before
{
	content: 'Availability: ';
	color:#000;
	font-weight: bold;
}

.cart_item dt.variation-Availability
{
    font-weight: bold;
}

.stock,
.cart_item
{
    .pre-order {
        color: var(--wc-ssc-preorder);
    }
    
    .enquiries-only {
        color: var(--wc-ssc-enquiries);
    }
    
    .discontinued {
        color: var(--wc-ssc-discontinued);
    }
}

.cart button,
.cart .button
{
    .pre-order {
        background-color: var(--wc-ssc-preorder);
    }
    
    .enquiries-only {
        background-color: var(--wc-ssc-enquiries);
    }
    
    .discontinued {
        background-color: var(--wc-ssc-discontinued);
    }
}