/* css/stock-status.css */
.stock::before
{
	content: 'Availability: ';
	color:#000;
	font-weight: bold;
}

.pre-order {
    color: #2ecc71 !important;
}

.enquiries-only {
    color: #e67e22 !important;
}

.discontinued {
    color: #e74c3c !important;
}